@model IEnumerable<Restarauntly.Data.Models.Table>
@{
    ViewData["Title"] = "Index";
}
@if (this.TempData.ContainsKey("Message") && TempData["Message"].ToString() == "Table is already unbooked or wrong Id!")
{
    <div class="alert alert-danger">@this.TempData["Message"]</div>
}
else if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<h1>Tables Panel</h1>

<p></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSeatingPlaces)
            </th>
            <th class="isBooked">
                @Html.DisplayNameFor(model => model.IsItBooked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfSeatingPlaces)
                </td>
                <td class="isBooked">
                    @Html.DisplayFor(modelItem => item.IsItBooked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Tables" asp-action="Create" class="book-a-table-btn">Create Table</a>
<a asp-controller="Tables" asp-action="UnBook" class="book-a-table-btn">Unbook Table</a>
