@model Restarauntly.Web.ViewModels.Dishes.MenuViewModel
@{
    this.ViewData["Title"] = "Menu";
}
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Menu</h2>
            <p>Check Our Tasty Menu</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="menu-flters">
                    <li class="all">All</li>
                    <li class="starters">Starters</li>
                    <li class="salads">Salads</li>
                    <li class="desserts">Desserts</li>
                    <li class="speciality">Specialty</li>
                </ul>
            </div>
        </div>
        @foreach (var dish in this.Model.Dishes)
        {
            <div class="row menu-container" data-aos="fade-up" data-aos-delay="200" data-category="@dish.CategoryId">
                <div class="col-lg-12 menu-item">

                    <img src="@dish.ImageUrl" class="menu-img" alt="">
                    <div class="menu-content">
                        <a asp-action="SingleDish" asp-route-id="@dish.Id">@dish.Name</a><span>$@dish.Price</span>
                    </div>
                    <div class="menu-ingredients">
                        @dish.Ingredients
                    </div>
                </div>
            </div>
        }   
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $('#menu-flters .all').click(function(){
        $('#menu .container .menu-container').css('display', 'block');
    });
    $('#menu-flters .starters').click(function () {
        $('#menu .container .menu-container[data-category="1"]').css('display', 'block');
        $('#menu .container .menu-container[data-category="2"]').css('display', 'none');
        $('#menu .container .menu-container[data-category="3"]').css('display', 'none');
        $('#menu .container .menu-container[data-category="6"]').css('display', 'none');
    });
    $('#menu-flters .salads').click(function () {
        $('#menu .container .menu-container[data-category="1"]').css('display', 'none');
        $('#menu .container .menu-container[data-category="2"]').css('display', 'block');
        $('#menu .container .menu-container[data-category="3"]').css('display', 'none');
        $('#menu .container .menu-container[data-category="6"]').css('display', 'none');
    });
    $('#menu-flters .desserts').click(function () {
        $('#menu .container .menu-container[data-category="1"]').css('display', 'none');
        $('#menu .container .menu-container[data-category="2"]').css('display', 'none');
        $('#menu .container .menu-container[data-category="3"]').css('display', 'block');
        $('#menu .container .menu-container[data-category="6"]').css('display', 'none');
    });
    $('#menu-flters .speciality').click(function () {
        $('#menu .container .menu-container[data-category="1"]').css('display', 'none');
        $('#menu .container .menu-container[data-category="2"]').css('display', 'none');
        $('#menu .container .menu-container[data-category="3"]').css('display', 'none');
        $('#menu .container .menu-container[data-category="6"]').css('display', 'block');
    });
</script>
