@model Restarauntly.Web.ViewModels.Dishes.SingleDishViewModel
@{
    this.ViewData["Title"] = this.Model.Name;
}

<section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>@Model.Category.Name</h2>
            <p>Check Our @Model.Category.Name</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            

            <div class="col-lg-12 mt-4 mt-lg-0">
                
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>@Model.Name</h3>
                                <p class="fst-italic">$@Model.Price</p>
                                <p class="fst-italic">@Model.Quantity gr.</p>
                                <p>@Model.Ingredients</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="@Model.ImageUrl" alt="" class="img-fluid">
                            </div>
                        </div>
                   
            </div>
        </div>
    </div>
</section>